<template name="onas">
	<div class="window" id="onas">
	<h2>O nas</h2>
	<p>Barbara Anna Magdalena Kuźniar - ur. 22.01.1991 r. w szpitalu na ul. Mikołaja Kopernika w Krakowie ok. godz. 22.00. Narzeczona Mateusza, córka Wojciecha i Anny, siostra Piotra i Weroniki, kuzynka Natalii, Mikołaja, Krzyszto... Już od najmłodszych lat przejawiała ponadprzeciętne zdolności muzyczne, matematyczne i</p>
	<p>Mateusz Władysław Maksymilian Kucharski - ur. 21.03.1989 r. w Krakowie. Narzeczony (jeszcze) Basi Ku. Absolwent inżynierii akustycznej na AGH. Robi jako informatyk. Lubi przytulać Basię, słuchać muzyki i czytać ebooki na Kindlu. Kocha Basię, muzykę i spać :)</p>
	</div>
</template>