<template name="prezenty">
	<div class="window" id="prezenty">
		<h2>Prezenty</h2>
		{{#if loaded}}
			<p>Zamiast zwyczajowych bukietów kwiatów będziemy wdzięczni za butelkę dobrego wina :)</p>
			<p>Poniżej zaś znajduje się lista proponowanych przez nas - dla nas prezentów. Jeśli ktoś decyduje się na zakupienie jednego z poniższych, prosimy o rychłe zarezerwowanie coby inni goście po próżnicy dubli nie nabywali. Dziękujemy!</p>
		{{/if}}
		<div id="gift-list">
			{{> giftList}}
		</div>
	</div>
</template>

<template name="giftList">
		{{#if loading}}
			<div class="loading">Ładowanie listy prezentów <span class="rotate">&lowast;</span></div>
		{{/if}}
		{{#each gifts}}
		
			{{> giftItem}}
		
		{{/each}}
</template>

<template name="giftItem">
	<div id="{{alias}}" class="gift-description {{#if reserved}}reserved{{/if}}">
		<h3 class="cl-effect-1"><a href="http://{{url}}" target="_blank">{{name}}</a></h3>
		<a href="http://{{url}}" target="_blank">
			<img alt="{{alias}}Img" src="{{image}}" class="pull-left"/>
		</a>
		<p id="{{alias}}-description">
			{{description}}
		</p>
		{{#if reserved}}
		<button class="purelycss_elegance_button_reserve color_silver"><span class="icon-remove"></span>Zaklepane</button>
		{{else}}
		<input type="button" value="Zarezerwuj!" class="purelycss_elegance_button color_green hover_olive">
		{{/if}}
	</div>
</template>