<template name="prezenty">
	<div class="window" id="prezenty">
		<h2>Prezenty</h2>
		<div id="gift-list">
			{{> giftList}}
		</div>
	</div>
</template>

<template name="giftList">
		{{#each gifts}}
		
			{{> giftItem}}
		
		{{/each}}
</template>

<template name="giftItem">
	<div id="{{alias}}" class="gift-description {{#if reserved}}reserved{{/if}}">
		<h3><a href="http://{{url}}" target="_blank">{{name}}</a></h3>
		<a href="http://{{url}}" target="_blank">
			<img alt="{{alias}}Img" src="{{image}}" class="pull-left"/>
		</a>
		<p id="{{alias}}-description">
			{{description}}
		</p>
		{{#if reserved}}
		<button><span class="icon-remove"></span>Zaklepane!</button>
		{{else}}
		<input type="button" value="Zarezerwuj" class="clean-gray" onclick="alert('This 15-20 minute piece was composed by George Gershwin.')">
		{{/if}}
	</div>
</template>