<template name="slub">
	<div class="window" id="slub">
	<h2>Ślub</h2>
	<p>Ku radości Przyjaciół i za pozwoleniem Najbliższych Barbara Kuźniar i Mateusz Kucharski dnia <span class="dataIMiejsce">31 maja 2014 r. o godz. 17.00 w Bazylice oo. Dominikanów w Krakowie</span> udzielą sobie Sakramentu Małżeństwa.</p>
		<div class="mapa">
		Jak dotrzeć na ślub:
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2561.42833822784!2d19.938968599999985!3d50.05953935000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165b12439121cb%3A0xd828557c7c232653!2sKlasztor+Ojc%C3%B3w+Dominikan%C3%B3w!5e0!3m2!1spl!2spl!4v1395492589646" height="300" frameborder="0" style="border:0"></iframe>
		</div>
	</div>
</template>