<template name="topMenu">
	<header class="navbar navbar-default navbar-fixed-top navbar-inverse" id="top-menu" role="navigation">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bookmark"></span>
				</a>
				<img src="/kliknijTU2.png" class="strzalka pull-right hidden-desktop" width="110"/>

	    		<a class="brand" href="/"> B&amp;M KuKu</a>
				<div class="nav-collapse collapse">
		    		<ul class="nav">
		    			<li id="slub"><a href="/slub">Ślub</a></li>
		    			<li id="wesele"><a href="/wesele">Wesele</a></li>
		    			<li id="prezenty"><a href="/prezenty">Prezenty <span class="icon-gift"></span></a></li>
		    		</ul>
		    		<ul class="nav pull-right">
		    		<li id="onas"><a href="/onas">O nas</a></li>
		    		</ul>
	    		</div>
    		</div>
    	</div>
  	</header>
</template>