<template name="wesele">
	<div class="window" id="wesele">
	<h2>Wesele</h2>
	<p>Gości weselnych bezpośrednio po uroczystości zaślubin zapraszamy na wspólne świętownie do Domu Polonii, Rynek Główny 14. Po mszy świętej nastąpi przejście z bazyliki do Domu Polonii. Panie prosimy o nieubieranie się na biało.</p>
		<div class="mapa">
		Jak dotrzeć na wesele:
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2561.3848328447984!2d19.93756615!3d50.06035420000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165b1274c1f7e7%3A0x818bdc17006547f1!2sDom+Polonii!5e0!3m2!1spl!2spl!4v1395492343210" height="300" frameborder="0" style="border:0"></iframe>
		</div>
	</div>
</template>